.cupid-x-mark-yes {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1759px;
  overflow: hidden;
  padding: 29px 0;
  position: relative;
  width: 414px;
}

.overlap-group11 {
  height: 1396px;
  margin-left: 21.0px;
  margin-top: 17px;
  position: relative;
  width: 357px;
}

.overlap-group2-11 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  left: 1px;
  min-width: 254px;
  padding: 19px 17px;
  position: absolute;
  top: 0;
}

.y-sa-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 36px;
  width: 219px;
}

.x8-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1396px;
  position: absolute;
  top: 0;
  width: 355px;
}

.overlap-group6-5 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  margin-left: 1px;
  min-width: 254px;
  padding: 19px 17px;
}

.overlap-group-25 {
  align-items: center;
  background-color: var(--zircon-2);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 1px;
  margin-top: 10px;
  min-height: 214px;
  width: 254px;
}

.hes-got-a-pretty-sw-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 14px;
  min-height: 72px;
  width: 219px;
}

.bg-4 {
  height: 118px;
  width: 254px;
}

.overlap-group1-19 {
  align-items: flex-end;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 65px;
  margin-left: 1px;
  margin-top: 273px;
  min-width: 177px;
  padding: 14px 18px;
}

.im-so-glad-youre-interested {
  letter-spacing: 0;
  line-height: normal;
  min-height: 36px;
  width: 137px;
}

.overlap-group2-12 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-top: 102px;
  min-width: 254px;
  padding: 12px 6px;
}

.are-you-available-tonight-at-930-pm-1,
.sooo-how-was-the-date-who-won {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.overlap-group3-7 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--wisp-pink);
  border-radius: 18px;
  display: flex;
  justify-content: flex-end;
  margin-right: 2px;
  margin-top: 7px;
  min-width: 116px;
  padding: 0 15px;
}

.yes-i-am {
  height: 46px;
  letter-spacing: 0;
  line-height: normal;
  width: 79px;
}

.overlap-group4-6 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--wisp-pink);
  border-radius: 18px;
  display: flex;
  margin-right: 2px;
  margin-top: 448px;
  min-width: 137px;
}

.okay-im-down {
  height: 41px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 137px;
}

.overlap-group5-6 {
  align-items: flex-start;
  background-color: var(--zircon);
  border-radius: 18px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 5px;
  margin-top: 19px;
  min-width: 254px;
  padding: 12px 6px;
}

.overlap-group8-4 {
  height: 224px;
  left: 1px;
  position: absolute;
  top: 1034px;
  width: 257px;
}

.bg-5 {
  background-color: var(--zircon);
  border-radius: 18px;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 257px;
}

.name-7 {
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 232px;
}

.map-3 {
  height: 165px;
  left: 1px;
  position: absolute;
  top: 59px;
  width: 256px;
}

.profile-picture-14 {
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 63px;
  position: absolute;
  top: 175px;
  width: 25px;
}

.profile-picture-15 {
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 150px;
  position: absolute;
  top: 121px;
  width: 25px;
}

