:root { 
  --black: #000000;
  --blue-jeans: #52c3ff;
  --blumine: #215771;
  --blumine-2: #215771b2;
  --brink-pink: #ff6286;
  --chathams-blue: #215371;
  --cinderella: #fce5d980;
  --hot-pink: #fe69b4;
  --link-water: #d5eaf5;
  --mountain-meadow: #2cc987;
  --rock-blue: #97bac8;
  --selective-yellow: #fdba0c;
  --tiara: #c0d2db;
  --tickle-me-pink: #fc77a0;
  --tree-poppy: #f7931a;
  --tropical-blue: #bfdfef;
  --tulip-tree: #f2b237cc;
  --we-peep: #f4dbe9;
  --white: #ffffff;
  --white-2: #ffffffcc;
  --wisp-pink: #fcf3f7;
  --wisp-pink-2: #fcf3f8;
  --zircon: #f6fafd;
  --zircon-2: #f6fbfd;
 
  --font-size-l: 14px;
  --font-size-m: 12px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 20px;
  --font-size-xxxxl: 24px;
  --font-size-xxxxxl: 32px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-medium-blumine-12px {
  color: var(--blumine);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-we-peep-12px {
  color: var(--we-peep);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-tickle-me-pink-12px {
  color: var(--tickle-me-pink);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-tickle-me-pink-14px {
  color: var(--tickle-me-pink);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-blumine-18px {
  color: var(--blumine);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.poppins-medium-rock-blue-14px {
  color: var(--rock-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-blumine-14px {
  color: var(--blumine);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-blumine-16px {
  color: var(--blumine);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.poppins-medium-white-12px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-tiara-12px {
  color: var(--tiara);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-white-20px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.poppins-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.poppins-medium-chathams-blue-12px {
  color: var(--chathams-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-white-14px {
  color: var(--white-2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.montserrat-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.poppins-medium-we-peep-11px {
  color: var(--we-peep);
  font-family: var(--font-family-poppins);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-white-14px {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.poppins-bold-brink-pink-14px {
  color: var(--brink-pink);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.poppins-medium-blumine-24px {
  color: var(--blumine);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-white-18px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-selective-yellow-12px {
  color: var(--selective-yellow);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-blumine-32px {
  color: var(--blumine);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 600;
}
