.guy-pitch-3 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 896px;
  padding: 40px 11px;
  width: 414px;
}

.x-container-1 {
  align-self: flex-end;
  height: 208px;
  margin-top: 64px;
  position: relative;
  width: 379px;
}

.img_0609-abd70555-1-1-1 {
  height: 176px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 320px;
}

.img_ebbe9-e592899-1-1-1 {
  height: 208px;
  left: 183px;
  position: absolute;
  top: 0;
  width: 196px;
}

.over-container-1 {
  height: 208px;
  margin-left: 13.0px;
  margin-top: 12px;
  position: relative;
  width: 323px;
}

.overwatch-2-mercy-sigma-bee-skins-1-1-1 {
  height: 168px;
  left: 0;
  position: absolute;
  top: 0;
  width: 323px;
}

.over-2-1 {
  height: 69px;
  left: 60px;
  position: absolute;
  top: 139px;
  width: 70px;
}

.over-1-1 {
  height: 69px;
  left: 193px;
  position: absolute;
  top: 139px;
  width: 70px;
}

.when-he-isnt-workin {
  letter-spacing: 0.40px;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 39px;
  min-height: 120px;
  text-align: center;
  width: 359px;
}

.button-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 42px;
  min-height: 123px;
  width: 344px;
}

.overlap-group-container-7 {
  align-items: flex-start;
  display: flex;
  gap: 14px;
  min-width: 344px;
}

.overlap-group2-16 {
  align-items: flex-start;
  background-color: var(--brink-pink);
  border-radius: 18px;
  box-shadow: 0px 25px 65px -10px #fc77a066;
  display: flex;
  height: 55px;
  justify-content: flex-end;
  min-width: 165px;
  padding: 15px 48px;
}

.hard-no-5 {
  height: 24px;
  letter-spacing: 0.40px;
  line-height: normal;
  min-width: 68px;
  text-align: center;
}

.overlap-group1-26 {
  align-items: flex-start;
  background-color: var(--mountain-meadow);
  border-radius: 18px;
  box-shadow: 0px 25px 65px -10px #fc77a066;
  display: flex;
  height: 55px;
  min-width: 165px;
  padding: 15px 40px;
}

.set-me-up-5 {
  height: 24px;
  letter-spacing: 0.40px;
  line-height: normal;
  min-width: 85px;
  text-align: center;
}

.group-1905 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 346px;
}

.overlap-group-31 {
  align-items: flex-start;
  background-color: var(--blumine-2);
  border-radius: 18px;
  box-shadow: 0px 25px 65px -10px #fc77a066;
  display: flex;
  height: 55px;
  min-width: 344px;
  padding: 15px 126px;
}

.aaaand-5 {
  height: 24px;
  letter-spacing: 0.40px;
  line-height: normal;
  min-width: 76px;
  text-align: center;
}

